.about-main {
    width: 100%;
    display: flex;
    padding: 20px;
}

.facts-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.fact-item {
    flex-basis: calc(33.333% - 20px);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto; 
    flex-grow: 0;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .fact-item {
        flex-basis: calc(50% - 20px);     
    }
}

@media (max-width: 480px) {
    .fact-item {
        flex-basis: 100%; 
    }
} 

/* .fact-item {
    flex-basis: calc(33.333% - 20px); 
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px; 
    background-size: cover;
    background-position: center;
    margin: 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
} */

* {
	box-sizing: border-box;
}

.body-extension {
	gap: 2rem;
	justify-content: center;
}

img {
	display: block;
	width: 100%;
}

h2 {
	margin: 0;
	font-size: 1.4rem;
}

@media (min-width: 50em) {
	h2 {
		font-size: 1.8rem;
	}
}

.cta {
	--shadowColor: 187 60% 40%;
	display: flex;
	flex-wrap: wrap;
	background: hsl(187 70% 85%);
	max-width: 50rem;
	width: 100%;
	box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);
	border-radius: 0.8rem;
	overflow: hidden;
	border: 0.5rem solid;
}

.cta img {
	aspect-ratio: 3 / 2;
	object-fit: cover;
	flex: 1 1 300px;
	outline: 0.5rem solid;
}

.cta__text-column {
	padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}

.cta__text-column > * + * {
	margin: min(1.5rem, 2.5vw) 0 0 0;
}

.cta a {
	display: inline-block;
	color: black;
	padding: 0.5rem 1rem;
	text-decoration: none;
	background: hsl(187 75% 64%);
	border-radius: 0.6rem;
	font-weight: 700;
	border: 0.35rem solid;
}


@media screen and (max-width: 768px) {
    #image-div1, #image-div2, #image-div3, .facts-section .fact-item {
        height: 450px; 
    }
}

@media screen and (max-width: 480px) {
    #image-div1, #image-div2, #image-div3, .facts-section .fact-item {
        height: 300px; 
    }
}


.facts-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
.fact-description {
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-align: center;
    max-width: 80%; 
}


@media screen and (max-width: 768px) {
    .info-block {
        padding: 20px 10px;
    }
}

@media screen and (min-width: 1024px) {
    .info-block {
        padding: 40px 20px;
        font-size: 1.25rem;
    }
}

