button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.63);
    width: 1000px;
    border-radius: 22px;
    border: 2px solid black;
    box-shadow: 0px 0px 20px rgba(0,0,0,1);
}

.no-collections-message {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none; 
    font-size: 2rem;
    color: #333;
    padding: 20px;
    background-color: #4CAF50;
    border-radius: 32px;
    border: 2px solid white;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 1);
}

#no-followers-message {
    margin-top: 20px;
    margin-bottom: 20px;
    /* display: none;  */
    font-size: 2rem;
    color: #333;
    padding: 20px;
    background-color: #4CAF50;
    border-radius: 32px;
    border: 2px solid white;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 1);
}

button:hover, a:hover {
    opacity: 0.7;
} 

.format-btn {
    cursor: url(../images/cursors/PottedPlantNS.cur),auto;
    font-family: 'Dancing Script', sans-serif;
    margin: 10px 10px;
    width:150px;
    line-height: 1.5;
    font-size: 20px;
    border-radius: 10px;
    background-color:rgb(18, 92, 42) ;
    box-shadow: 0px 0px 20px rgb(18, 92, 42);
}

.button-div { 
    display: flex;
}

.main-body {
    padding: 15px;
}

.collections-container {
    text-align: center; 
    margin: 20px 0; 
}

#circleAvatar{
    border: 5px solid rgb(11, 56, 25);
    box-shadow: 0px 0px 20px rgba(0,0,0,1);
    border-radius: 360px;
    overflow: hidden;
    height: 150px;
    width: 150px;
    margin-right: 30px;
}

#circleData{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collections-card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    justify-content: center;

    box-shadow: 0 0px 20px rgba(0,0,0,1);
    background-color: #a0e090b9;
    
    border-radius: 32px;

    padding: 1rem;
    text-align: center;
    
    width: 95%; 
}

.collections-card:last-child {
    margin-bottom: 20px;
}

#socialLinks{
    border-radius: 0px 0px 32px 32px;
    margin-top: 0px;
}

#data{
    border-radius: 32px 32px 0px 0px;
}

#profileInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.collections-title {
    margin-top: 10px;
    margin-bottom: 10px; 
    width: 100%;

    font-size: 50px;
    font-weight: bold;
}

.collection-particularity {
    flex-direction: column;
}

.collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap: 10px;
    padding: 0%;
}

.collection-button {
    width: calc(33.333% - 20px); 
    margin: 10px; 
}

.collection-button button {
    width: 100%; 
    padding: 10px 15px; 
    font-size: 16px; 
    font-weight: bold; 
    color: white; 
    background-color: #4CAF50; 
    border: none;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin: 5px;
}

.collection-button button:hover {
    background-color: #367c39; 
}

/* Links */

#links{
    display: flex;
    justify-content: space-evenly;
}

.socialMediaIcon2{
    background-color: transparent;
    opacity: 0.5; 

    width:50px;

    transition: opacity 0.3s ease;
    cursor: url(../images/cursors/PottedPlantNS.cur),auto;
}

.line{
    height:3px;
    width: 90%;
    background-color: black;
}

.socialMediaIcon2:hover{
    opacity: 100%;
    cursor: url(../images/cursors/PottedPlantNS.cur),auto;
    padding: 5px;
    border-radius: 360px;
    box-shadow: 0px 0px 20px rgba(0,0,0,1);
}

.friend{
    border:5px solid black;
    border-radius: 360px;
    margin-left: 2px;
    margin-right: 2px;
}

.friend:hover{
    opacity: 0.9;
    box-shadow: 0px 0px 20px rgba(0,0,0,1);
}

@media (max-width: 1010px) {
    #container{
        width: 90%;
    }
}

@media (max-width: 670px) {
    #container{
        width: 95%;
    }
    #profileInfo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #circleAvatar{
        position: relative;
        left:15px;
    }
    .collections-card{
        width: 90%;
    }
}

#addPlantButton:hover {
    opacity: 0.9; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

#addPlantButton {
    position: fixed;
    right: 20px;
    top: 120px;
    z-index: 1;
}

.floating-button {
    background-color: #4caf50;
    border-radius: 50%; 
    width: 60px; 
    height: 60px; 
    font-size: 36px; 
    line-height: 40px; 
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
    z-index: 1000; 
}

.floating-button:hover {
    background-color: #66bb6a; 
}




/* Hidden by default */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px); 

  }
  
  /* Modal content */
  .modal-content {
    background-color: white;   /*#a0e090b9*/

    padding: 20px 20px 0px 20px;
    width: 570px;
    height: 510px;
    border-radius: 20px;
    border : 2px solid black;
    box-shadow: 0px 0px 20px rgba(0,0,0,1);
    margin-top: 300px;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input{
    width: 60%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Dancing Script', sans-serif;
  }

  #updateDataButton{
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    border-radius: 10px;
    font-family: 'Dancing Script', sans-serif;
    margin-top: 10px;
    background-color: rgb(18, 92, 42);
    width: 60%;
    cursor: url(../images/cursors/PottedPlantNS.cur),auto;
    font-size: 28px;
  }

  input::placeholder{
    color:#b4b0ff;
    padding: 5px;
  }
  
  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 60px;
    font-weight: bold;
    transform: translate(0px,-30px);
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }

  .collectionClose{
    display: none;
    transform: translate(+100px, -20px);
    float: right;
    opacity: 0;
    font-size: 60px;
    font-weight: bold;
    color: black;
  }

  #updateTitle{
    font-size: 28px;
    font-weight: bold;
  }

  #updateLine{
    margin-top: 5px;
    width: 60%;
    height: 2px;
    background-color: #000;
  }

  @media (max-width: 670px) {
    input{
        width: 80%;
    }
    .modal-content {
    width:90%;
    }

}

.floating-message {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1001;
  }