
.no-collections-message {
    display: none; 
    font-size: 2rem;
    color: #333;
    margin: 0;
    padding: 20px;
    background-color: #4CAF50;
    border-radius: 32px;
    border: 2px solid white;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 1);
}

/*------------*/

#cont{
    display: flex;
    flex-direction: column;
    width:900px;
}

#title{ 
    border: 1px solid black;
    font-size: 50px;
    border-radius: 32px 32px 0px 0px;
    background-color: #a0e090b9;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    padding: 20px 0px 20px 0px;
}

#detailsBox{
  background-color: #a0e090b9;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  padding: 10px 0px 10px 0px;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  font-size: 50px;
  border-radius: 0px 0px 32px 32px;
  margin-bottom: 20px;
}

#line{
    margin-top: 10px;
    margin-bottom: 5px;
    height: 2px;
    width: 70%;
    background-color: black;
}

#whiteback{
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 22px;
    border: 2px solid black;
    box-shadow: 0px 0px 20px rgba(0,0,0,1);
}

#descripton{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    font-size: 30px;
    background-color: #a0e090b9;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    padding: 20px 5px 30px 5px;

    border-radius: 32px;

    margin-bottom: 20px;
}

#titleDiv{
  width:90%;
}

#searchMiniTitle{
  display: flex;
  flex-direction: row;
}

#leftDiv{
    font-size: 20px;
    width:49%;
}

#rightDiv{
  font-size: 20px;
    width:49%;
}

#innersearch{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

#searchTitle{
  display: none;
  position: relative;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  flex-direction: column;
  align-items: center;
}

#search{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 1px solid black;
  font-size: 30px;
  background-color: #a0e090b9;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  padding: 20px 5px 30px 5px;

  border-radius: 32px;

  margin-bottom: 20px;
}

option{
  text-align: center;
}

option:hover{
  cursor: url(../images/cursors/PottedPlantNS.cur),auto;
}

select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border-radius: 10px;
  border:2px solid black;
  font-family: 'Dancing Script', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  width:250px;
  margin:5px 20px;

  background-color: #fff; 
}

#start-date{
  border-radius: 10px;
  border:2px solid black;
  font-family: 'Dancing Script', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  width:400px;
  margin:5px 20px;

  background-color: #fff; 
}

#end-date{
  border-radius: 10px;
  border:2px solid black;
  font-family: 'Dancing Script', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  width:400px;
  margin:5px 20px;

  background-color: #fff; 
}


a{
  cursor: url(../images/cursors/PottedPlantNS.cur),auto;
}

#updateDataButton:hover {
  opacity: 0.7;
} 

.container {
    border: 1px solid black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    border-radius: 32px;
    background-color: #a0e090b9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%; 
    text-align: center;
    min-height: calc(100vh - 600px);
}

#addPlantButton:hover {
    opacity: 0.9; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

#addPlantButton {
  cursor: url(../images/cursors/PottedPlantNS.cur),auto;
    position: fixed;
    right: 20px;
    top: 120px;
    z-index: 1;
}

#importPlantButton:hover {
  opacity: 0.9; 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

#importPlantButton{
  cursor: url(../images/cursors/PottedPlantNS.cur),auto;
    position: fixed;
    right: 20px;
    top: 190px;
    z-index: 1;
    font-size: 27px;
}



#noCollectionsMsg {
    font-size: 2rem; 
    font-weight: bold; 
    color: #333; 
    text-align: center; 
    display: none; 
}

.floating-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #4caf50;
    color: white;
    border-radius: 50%; 
    width: 60px; 
    height: 60px; 
    font-size: 36px; 
    line-height: 60px; 
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    border: none;
    outline: none;
    z-index: 1000; 
}

.floating-button:hover {
    background-color: #66bb6a; 
}


@media (max-width: 1000px) {
    #cont{
        width:700px;
    }
}

@media (max-width: 750px) {
    #whiteback{
      width:95%;
    }
    #cont{
        width:100%;
    }
}

#profile{
  width:40%;
}

#edit{
  width:30%;
}

#delete{
  width:30%;
}

.format-btn {
    cursor: url(../images/cursors/PottedPlantNS.cur),auto;
    font-family: 'Dancing Script', sans-serif;
    margin: 10px 10px;
    width:170px;
    line-height: 1.5;
    background-color:rgb(18, 92, 42) ;
    color:white;
    box-shadow: 0px 0px 20px rgb(18, 92, 42);
    padding: 10px;
    font-size: 25px;
    border-radius: 16px;
    transition: all 0.3s;
}

.format-btn:hover{
    background-color:rgb(6, 58, 22);
    color:rgb(209, 204, 204);
}

#collectionButtons{
    background-color: #a0e090b9; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    border-radius: 32px;
    margin-bottom: 20px;
}

/* Hidden by default */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px); 

  }
  

/* Hidden by default */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px); 

  }
  
  /* Modal content */
  .modal-content {
    background-color: white;   /*#a0e090b9*/

    padding: 20px 20px 0px 20px;
    width: 570px;
    height: 300px;
    border-radius: 20px;
    border : 2px solid black;
    box-shadow: 0px 0px 20px rgba(0,0,0,1);
    margin-top: 300px;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input{
    width: 60%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Dancing Script', sans-serif;
  }

  #updateDataButton{
    transition: all 0.3s;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    border-radius: 10px;
    font-family: 'Dancing Script', sans-serif;
    margin-top: 10px;
    background-color: rgb(18, 92, 42);
    width: 60%;
    cursor: url(../images/cursors/PottedPlantNS.cur),auto;
    font-size: 28px;
    color: white;
  }

  input::placeholder{
    color:#b4b0ff;
    padding: 5px;
  }
  
  label{
    color:#b4b0ff;
    padding: 5px;
    font-size: 22px;
  }

  input[type="checkbox"] {
    appearance: none;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: url(../images/cursors/PottedPlantNS.cur),auto;
    transform: translate(0px,-10px);
}

/* Style the custom checkbox when checked */
input[type="checkbox"]:checked {
    background-color: rgb(18, 92, 42);
    border-color: rgb(18, 92, 42);
}

/* Style the custom checkbox label */
input[type="checkbox"] + label {
    font-weight: normal;
}

/* Style the custom checkbox label when checked */
input[type="checkbox"]:checked + label {
    color: rgb(18, 92, 42);
}

  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 60px;
    font-weight: bold;
    transform: translate(0px,-30px);
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }

  .collectionClose{
    display: none;
    transform: translate(+100px, -20px);
    float: right;
    opacity: 0;
    font-size: 60px;
    font-weight: bold;
    color: black;
  }

  #updateTitle{
    font-size: 28px;
    font-weight: bold;
  }

  #updateLine{
    width: 60%;
    height: 2px;
    background-color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #updateLine1{
    width: 60%;
    height: 2px;
    background-color: #000;
    margin-top: 15px;
  }

  @media (max-width: 670px) {
    #leftDiv{
      display: none;
    }
    #rightDiv{
      display: none;
    }
    select{
      width:90%;
    }
    input{
        width: 80%;
    }
    .modal-content {
    width:90%;
    }
    #updateTitle{
        font-size: 24px;
    }
    #edit{
      width:40%;
    }
    
    #delete{
      width:40%;
    }
    }

    .smallDetails{
      font-size: 20px;
      font-weight: bold;
    }

    #left{
      float:left;
      margin-left: 60px;
      transform: translate(0px,11px);
    }

    #right{
      float:right;
      margin-right: 60px;
    }

    #descriptionText{
      padding: 0px 10px 0px 10px;
    }


    @media (max-width: 720px) {
      #right{
          float:none;
          margin-right: 0px;
      }
      #left{
        margin-left: 0px;
        transform: translate(0px,0px);
        float:none;
      }
  }

  @media (max-width: 540px) {
    #descripton{
      font-size: 25px;
    }
    .format-btn {
      margin: 10px 10px;
      width:150px;
      font-size: 20px;
    }
    .no-collections-message{
      font-size: 25px;
    } 

}

.rotated {
  transform: rotate(180deg);
}

.minimize-button {
  position: absolute;
  top: -13%;
  right: 0;
  }

  @media (max-width: 560px) {
    .minimize-button {
        position: relative;
        right:0%;
        top:-50%;
        }
      select{
        width:300px;
      }
      #start-date{
        width: 300px;
      }
      #end-date{
        width: 300px;
      }
    }
