
/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Apply flexbox layout to the main container */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#adminPanel{

    position: relative;
    left:50%;
    transform: translate(-50%,0%);

    background-image: linear-gradient(#a0e0908c, #e2f4c57c, #a0e09080);
    padding: 30px 20px 40px 20px;
    border-radius: 1%;
    border: 1px black solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1); 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 50%; 

    margin-top: 50px;
}


@media screen and (max-width: 1620px) {
    #adminPanel{
        width: 80%; 
    }
}

#controlPanel{
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

#panelLine{
    width: 60%;
    height: 2px;
    background-color: black;
    margin-bottom: 30px;
}

header {
    background-color: #496989cb;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

header p{
    font-weight: bold;
    font-size: max(4vmin, 15px);
    margin: 8px 10px;
}

@media (max-width: 600px) {
    header p {
        font-size: 15px;
        margin: 8px 10px;
    }

}



.scrollable-content {
}

section {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    border: 2px solid #e0e0e0; 
    width: auto; 
    height: auto; 
    max-width: 800px; 
}

section p{
    font-size: 20px;
}

table {
    position: relative;
    width: 100%;
    border-collapse: separate; 
    border-spacing: 4px;
}

th, td {
    text-align: left;
    border: 1px solid black;
    
}
th {
    text-align: center;
    background-color: #f2f2f2;
}

table span{
    padding: 0px 10px 0px 10px;
    font-size: max(2.5vmin, 12px);
}

.emoji{
    font-size: 20px;
    padding: 0px;
    font-weight: bold;
}

.emoji:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.like:hover{
    background-color: #496989cb;
}

.dislike:hover{
    background-color: #8f2525cb;
}

.visit:hover{
    background-color: #A8CD9F;
}

.clientsTableBody td{
    text-align: center;
    background-color: #f2f2f2;
}

.textInput{
    font-family: 'Dancing Script', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    width: 30%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5%;
    border: 1px solid black;
    text-align: center;
}

.textInput:focus{
    background-color: rgb(219, 217, 217);
    border: 1px solid #496989cb;
}

.textInput::placeholder{
    color: black;
}

.textInput:not(:last-child){
    margin-left: 4px;
    margin-right: 4px;
}

#order_input, #display_input{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Dancing Script', sans-serif;
    width:40%;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 2%;
}

#order_input{
    margin-right: 10px;
}

#display_input{
    margin-left: 10px;
}

#order_input:hover, #display_input:hover{
    background-color: rgb(219, 217, 217);
    border: 1px solid #496989cb;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

#postLine{
    width: 80%;
    height: 2px;
    margin-bottom: 10px;
    background-color: black;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    
}

@media screen and (max-width: 768px) {
    .textInput{
        font-size: 10px;
        margin-top: 10px;
        padding: 5px;
    }
    #order_input , #display_input{
        font-size: 10px;
    }
}

#textInput::placeholder{
    color: black;
}

.clientsTable{
    margin-bottom: 10px;
      
}

@media screen and (max-width: 768px) {

    #controlPanel{
        font-size:40px ;
    }
    #adminPanel{
        width: 95%; 
        padding-left: 5px;
        padding-right: 5px;
    }
    section {
        width: 99%; 
        padding: 1px;
    }
    table{
        border-spacing: 3px;
    }
    
    
    
}

@media (max-width: 600px) {
    header p {
        font-size: 35px;
        margin: 8px 10px;
    }

}

/* FLOWER POSITION */

.f-wrapper--1 {
    top: 80px;
    right: 100px;
}

.f-wrapper--2 {
    top: 80px;
    left: 100px;
}

.f-wrapper--1 .f{
    transform: translateX(-50%) rotate(-150deg);
}

.f-wrapper--2 .f{
    transform: translateX(-50%) rotate(160deg);
}

.f-wrapper--2 .flower__leaf--1{
    background-color: #de118b;
}

.f-wrapper--2 .f .flower__leaf--8{
    background-image: linear-gradient(to left bottom, #ff43b6 ,#4d1337);;
}

.f-wrapper--2 .flower__leaf:not(:first-child){
    background-image: linear-gradient(to bottom, #ff43b6 ,#c22887, #1a233a 99%);
}

/* #switch1{
    display: none;
} */

#switch2{
    margin-top: 15px;
    display: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: rgb(238, 237, 237);
    padding-top:10px;
    border-radius: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); 
}

#switch2 table{
    border-spacing: 0px;
}

#switch2 table th{
    border : 0px;
    border-bottom: 2px solid black;
}

#switch2 table td{
    border : 0px;
    border-bottom: 2px solid black;
}

.flip-card {
    
    background-color: transparent;
    width: 47%;
    min-width: 45%;
    height: 200px;
    perspective: 1000px; 
    margin-left: 10px;
    margin-right: 10px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: rgb(56, 77, 57);
    height: auto;
  }
  
  .flip-card-back {
    transform: rotateX(180deg);
    background-color: rgb(49, 65, 99);
    height: auto;
  }
  
 #switch2 .like{
    width: 33%;
 }

 #switch2 .dislike{
    width: 33%;
 }

 #switch2 .visit{
    width: 33%;
 }

 .nothingText{
    color:#E2F4C5;
 }

 #hideFlip{
    display: none;
 }

 @media screen and (max-width: 1000px) {
    .flip-card {
        width: 95%;
        min-width: 45%;
        height: 140px;
        margin-left: 10px;
        margin-right: 10px;
      }
 }

 @media screen and (max-width: 760px) {
    #switch2{
        position: relative;
        width:90%;
        left:50%;   
        transform: translate(-50%,0%);
    }
    .flip-card {
        height: 120px;
      }

      #switch2 .emoji{
        font-size: 15px;
      }

 }

 @media screen and (max-width: 550px) {
    .flip-card {
        height: 100px;
      }
 }

 @media screen and (max-width: 440px) {
    .flip-card {
        height: 80px;
      }
 }