
/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Apply flexbox layout to the main container */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#adminPanel{

    position: relative;
    left:50%;
    transform: translate(-50%,0%);

    background-image: linear-gradient(#a0e0908c, #e2f4c57c, #a0e09080);
    padding: 30px 20px 40px 20px;
    border-radius: 1%;
    border: 1px black solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1); 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 50%; 

    margin-top: 50px;
}


@media screen and (max-width: 1620px) {
    #adminPanel{
        width: 80%; 
    }
}

#controlPanel{
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

#panelLine{
    width: 60%;
    height: 2px;
    background-color: black;
    margin-bottom: 30px;
}

header {
    background-color: #496989cb;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

header p{
    font-weight: bold;
    font-size: max(4vmin, 15px);
    margin: 8px 10px;
}

@media (max-width: 600px) {
    header p {
        font-size: 15px;
        margin: 8px 10px;
    }

}



.scrollable-content {
}

section {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    border: 2px solid #e0e0e0; 
    width: auto; 
    height: auto; 
    /* max-width: 600px;  */
}

section p{
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 4px;
}
th, td {
    text-align: left;
    border: 1px solid black;
    
}
th {
    text-align: center;
    background-color: #f2f2f2;
}

table h2{
    padding: 0px 10px 0px 10px;
    font-size: max(2.5vmin, 12px);
}

.emoji{
    font-size: 20px;
    padding: 0px;
    font-weight: bold;
}

.emoji:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.like:hover{
    background-color: #496989cb;
}

.dislike:hover{
    background-color: #8f2525cb;
}

.visit:hover{
    background-color: #A8CD9F;
}

.clientsTableBody td{
    text-align: center;
    background-color: #f2f2f2;
}

.textInput{
    font-family: 'Dancing Script', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
    width: 30%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5%;
    border: 1px solid black;
    text-align: center;
}

.textInput:focus{
    background-color: rgb(219, 217, 217);
    border: 1px solid #496989cb;
}

.textInput::placeholder{
    color: black;
}

.textInput:not(:last-child){
    margin-left: 4px;
    margin-right: 4px;
}

#order_input{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Dancing Script', sans-serif;
    width:93%;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 2%;
}

#order_input:hover{
    background-color: rgb(219, 217, 217);
    border: 1px solid #496989cb;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

@media screen and (max-width: 768px) {
    .textInput{
        font-size: 10px;
        margin-top: 10px;
        padding: 5px;
    }
    #order_input{
        font-size: 10px;
    }
}

#textInput::placeholder{
    color: black;
}

.clientsTable{
    margin-bottom: 10px;
      
}

@media screen and (max-width: 768px) {

    #controlPanel{
        font-size:40px ;
    }
    #adminPanel{
        width: 95%; 
        padding-left: 5px;
        padding-right: 5px;
    }
    section {
        width: 99%; 
        padding: 1px;
    }
    table{
        border-spacing: 3px;
    }
    .emoji{
        font-size: 8px;
    }
}

@media (max-width: 600px) {
    header p {
        font-size: 35px;
        margin: 8px 10px;
    }

}

/* FLOWER POSITION */

.f-wrapper--1 {
    top: 80px;
    right: 100px;
}

.f-wrapper--2 {
    top: 80px;
    left: 100px;
}

.f-wrapper--1 .f{
    transform: translateX(-50%) rotate(-150deg);
}

.f-wrapper--2 .f{
    transform: translateX(-50%) rotate(160deg);
}

.f-wrapper--2 .flower__leaf--1{
    background-color: #de118b;
}

.f-wrapper--2 .f .flower__leaf--8{
    background-image: linear-gradient(to left bottom, #ff43b6 ,#4d1337);;
}

.f-wrapper--2 .flower__leaf:not(:first-child){
    background-image: linear-gradient(to bottom, #ff43b6 ,#c22887, #1a233a 99%);
}