figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-family: 'Dancing Script', sans-serif;
}

figure > * {
    grid-area: 1/1;
    transition: .4s;
}

figure figcaption {
    display: grid;
    align-items: end;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    color:#cac7ff;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    /* -webkit-mask:
        linear-gradient(#000 0 0),
        linear-gradient(#000 0 0); */
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
}

figure:hover figcaption{
    --_i: 0%;
}

figure:hover img {
    transform: scale(1.2);
}

@supports not (-webkit-mask-clip: text) {
    figure figcaption {
        -webkit-mask: none;
        color: #000000;
    }
}
