@font-face {
    font-family: 'Playful';
    src: url('../fonts/Playful/PlayfairDisplay-VariableFont_wght.ttf') format("truetype"),
}

.gradient_Text{
    background-image: linear-gradient(#E2F4C5, #a0e090);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    user-select: none;
    
    cursor: url(../images/cursors/PottedPlantNS.cur),auto;

    font-family: 'Playful', sans-serif;

    background-image: url('../images/background/background.jpg');
    background-size: cover; 
    background-position: center; 
}

/*         ↓↓↓         HEADER         ↓↓↓         */

header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 15px 0px 12px 0px; 
    background-color: #496989e5;
    color:#A8CD9F;
    margin-bottom: 0px;
}

header a{
    text-decoration: none;
    color:inherit;
    font-size: 1.2em;
    transition: text-shadow 0.2s ease;
    cursor: url(../images/cursors/PottedPlantNS.cur),auto;
}

header a:hover{
    text-shadow: 2px 2px 4px #E2F4C5;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
}

.left h1{
    font-weight: bold;
    padding-left: 10px;
}

.left #plant_Logo{
    width: 80px;
    padding-bottom: 5px;
}

.right{
    padding-right: 100px;
}

.right nav ul {
    list-style-type: none;
    padding: 0; 
}

.right nav ul li {
    display: inline;
    margin-left: 40px;
    font-size: 20px;
}

@media (max-width: 600px) {
    header {
        padding: 8px 0px 7px 0px; 
        margin-bottom: 0px;
    }
    .left{
        padding-left: 20px;
        padding-right: 150px;
    }
    .left #plant_Logo{
        display: none;
    }
    .left h1{
        font-weight: bold;
        font-size: 25px;
    }
    .right{
        display: none;
    }
}

/* Search bar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #496989;
    color: #A8CD9F;
}

/* Make the left and right sections of the header take up necessary space */
.left, .right {
    flex: 1;
}

.search_Bar {
    position: relative;
    display: flex;
    flex-grow: 2; 
    margin: 0 15px;
    align-items: stretch; /* Align children vertically */
}

.search_Bar input[type="text"] {
    flex-grow: 1;
    border: 2px solid #A8CD9F;
    padding: 10px 15px;
    font-size: 1rem;
    outline: none;
    border-radius: 20px 0 0 20px;
    border-right: none; /* Remove right border */
}

.search_Bar button {
    background-color: #A8CD9F;
    border: 2px solid #A8CD9F;
    border-left: none; /* Remove left border to seamlessly connect with input */
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.search_Bar button img {
    height: 100%;
    width: auto;
    display: block;
}

/* Adjust the font size of the input placeholder */
.search_Bar input[type="text"]::placeholder {
    font-size: 1rem; /* Match font size with input text */
    vertical-align: middle;
}

/* Adjustments for smaller screens */
@media (max-width: 600px) {
    .search_Bar {
        margin: 0;
        flex-grow: 1;
    }
    .search_Bar input[type="text"], .search_Bar button {
        height: auto; /* Reset the height for smaller devices */
        padding: 8px 10px; /* Adjust padding */
    }
    .left, .right {
        flex: 0; /* Don't let these flex on smaller screens */
    }
}


/*         ↑↑↑         HEADER         ↑↑↑         */
/*         ↓↓↓          MAIN          ↓↓↓         */

main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
}

.rectangle {
    width: 400px;
    height: 500px;
    background-color: #58a399c2; 
    margin: 50px 20px 0px 20px;
    border-radius: 10%;
    border : solid 2px #E2F4C5;
}

.rectangle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Aligns items vertically */
}




/*         ↑↑↑          MAIN          ↑↑↑         */
/*         ↓↓↓         FOOTER         ↓↓↓         */

footer {
    background-color: #496989cb;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

footer p{
    font-weight: bold;
    font-size: 23px;
    margin: 8px 10px;
}

.socialMediaIcon{
    margin: 0px 5px;
    opacity: 60%;
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    transition: opacity 0.3s ease;
}

.socialMediaIcon:hover{
    opacity: 100%;
}

@media (max-width: 600px) {
    footer p {
        font-size: 15px;
        margin: 8px 10px;
    }
    .socialMediaIcon{
        width: 25px;
        height: 25px;
        margin: 0px 3px;
    }
}

/*         ↑↑↑         FOOTER         ↑↑↑         */